@use "./variables" as *;
@use "../mixin/font" as *;
@use "../mixin/responsive" as *;

html {
  font-size: 16px;

  @include mq(sm) {
    @include font-vw(16, 375);
  }

  @include mq(md) {
    @include font-vw(16, 720);
  }
}

body {
  color: $black;
  font-size: 1rem;
  font-family: $font-ja;
  font-weight: $font-regular;
  line-height: 1;
}

.container {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 80vw;
  padding-right: 5rem;
  padding-left: 5rem;
}
