@use "../abstracts" as *;
@use "../mixins" as *;

.fv {
  background-image: url("../../assets/images/sample-bg.webp");

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-family: $font-roboto;
    font-weight: $font-medium;
    color: $color-black;
  }
}
