@use "../abstracts" as *;
@use "../mixins" as *;

.fv {
  background-color: $color-black;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: $color-white;
    font-family: $font-roboto;
    font-weight: $font-medium;
  }
}
