@use "../base/variables" as *;

.fv {
  background-color: $black;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: $white;
    font-weight: $font-en;
  }
}
